@font-face {
    font-family: Caveat;
    src: url(../src/assets/fonts/Caveat-Regular.ttf);
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-caveat: Caveat, "sans-serif";
    --color-timberwolf: #DDD1C7;
    --color-ashgray: #C2CFB2;
    --color-olivine: #8DB580;
    --color-battleshipgray: #7E8987;
    --color-englishviolet: #4B4A67;
    --color-dark-1: #1E3F20;
    --color-dark-2: #1D371E;
    --color-dark-3: #1C2F1B;
    --color-dark-4: #1B2719;
    --color-dark-5: #1A1F16;
}